<nav class="navbar fixed-top navbar-light bg-white p-1">
  <div class="container">
    <div class="logo"></div>
    <div>
      <div class="add-post">
        <img class="logo-instaclone" src="../../../assets/instaclone-logo.png" alt="" (click)="showDialog()">
        <a href="#" (click)="logout()">
          <button type="button" class="btn btn-link ml-3"><span class="text-uppercase">Sair</span></button>
        </a>
      </div>
    </div>
  </div>
</nav>

<br><br><br>
<div class="container">
  <app-posts #posts></app-posts>
  <app-add-post [display]="display" (atualizarTimeline)="atualizarTimeline()"
  (atualizaDisplay)="recebeDisplay($event)"></app-add-post>
</div>
