<nav class="navbar fixed-top navbar-light bg-white">
  <div class="container">
    <div class="logo"></div>
    <div>
      <div class="add-post" data-toggle="modal" data-target="#modalAddPost"></div>
      <a href="#" (click)="logout()">
        <button type="button" class="btn btn-link ml-3"><span class="text-uppercase">Sair</span></button>
      </a>
    </div>
  </div>
</nav>

<br><br><br>
<div class="container">
  <app-posts #posts></app-posts>
  <app-add-post (atualizarTimeline)="atualizarTimeline()"></app-add-post>
</div>
