<!--
<div id="modalAddPost" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="modalAddPostLabel"
     aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content" *ngIf="progressoPost === 'pendente'">
      <form [formGroup]="formPost" (ngSubmit)="postar()">
        <div class="modal-header">
          <h5 class="modal-title" id="modalAddPostLabel">Adicionar Post</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <input type="text" placeholder="Título do Post" class="form-control mb-3" formControlName="titulo">
          <textarea  rows="6" placeholder="Digite uma mensagem" class="form-control mb-3"
                     formControlName="mensagem"></textarea>

          &lt;!&ndash;          <input type="file" class="form-control-file" accept="image/*" (change)="preparaImagemUpload($event)">&ndash;&gt;

          <div class='input-wrapper'>
            <label for='input-file'>
              Escolha uma Imagem
            </label>
            <input id="input-file" type="file" value="" accept="image/*"
                   (change)="preparaImagemUpload($event);
                             pegarNomeDaImagem($event)">
            <span id='file-name'>{{ nomeDaImagem }}</span>
          </div>

        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
          <button type="submit" class="btn btn-primary">Salvar Post</button>
        </div>
      </form>
    </div>

    <div class="modal-content" *ngIf="progressoPost === 'andamento'">
      <div class="modal-header">
        <h5 class="modal-title">Publicação em Andamento</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="progress" style="height: 25px;">
          <div class="progress-bar progress-bar-striped progress-bar-animated"
               role="progressbar"
               aria-valuemin="0"
               aria-valuemax="100"
               aria-valuenow="75"
               [ngStyle]="{ 'width': porcentagemUpload + '%' }">{{ porcentagemUpload }}</div>
        </div>
      </div>
    </div>

    <div class="modal-content" *ngIf="progressoPost === 'concluido'">
      <div  class="modal-content" aria-hidden="true">
        <div class="modal-header">
          <h5 class="modal-title">Postado</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          Post Realizado com Sucesso!
        </div>
      </div>
    </div>

  </div>
</div>
-->


<p-dialog header="Godfather I" [(visible)]="display" [modal]="true" [responsive]="true" [style]="{width:
'350px', minWidth: '200px'}" [minY]="70"
          [maximizable]="true" [baseZIndex]="10000">
  <p>The story begins as Don Vito Corleone, the head of a New York Mafia family, oversees his daughter's wedding.
    His beloved son Michael has just come home from the war, but does not intend to become part of his father's business.
    Through Michael's life the nature of the family business becomes clear. The business of the family is just like the head of the family,
    kind and benevolent to those who give respect,
    but given to ruthless violence whenever anything stands against the good of the family.</p>
  <p-footer>
    <button type="button" pButton icon="pi pi-check" (click)="atualizaDialog()" label="Yes"></button>
    <button type="button" pButton icon="pi pi-close" (click)="atualizaDialog()" label="No" class="ui-button-secondary"></button>
  </p-footer>
</p-dialog>

<!--<button type="button" (click)="showDialog()" pButton icon="pi pi-info-circle" label="Show"></button>-->
